@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.035em;
}

.text-input{
    @apply input input-bordered w-[340px] pl-[46px] text-[16px] leading-[22px] text-[#333333] placeholder:text-[16px] placeholder:leading-[22px] placeholder:text-[#828282];
}

.input-icon{
    @apply absolute top-[50%] left-[14px] translate-y-[-50%]
}

.btn{
    @apply normal-case
}

.btn-primary{
    @apply bg-[#2F80ED] outline-none border-none text-[16px] leading-[22px] font-[600]
}

.btn-primary:hover{
    @apply bg-[#2F80ED] opacity-80 outline-none border-none text-[16px] leading-[22px] font-[600]
}